<section class="page-header">
  <h1 class="project-name"><a href="." class="project-link">{{ site.title }}</a></h1>
  <style>
  	a.project-link, a.project-link:hover {
  		 style-decoration:none;
  		 color:#ffffff;
  	}
  </style>
  <h3 class="project-tagline">{{ site.tagline }}</h3>
  <form method="get" action="https://www.google.co.jp/search">
    <input type="text" name="q">
    <input type="hidden" name="sitesearch" value="blueskite.github.io/vba/">
    <input type="submit" value="サイト内検索">
  </form>
  <!--<a href="#" class="btn">View on GitHub</a>
  <a href="#" class="btn">Download .zip</a>
  <a href="#" class="btn">Download .tar.gz</a> -->

</section>
